<section role="main">
  <div class="row">
    <div id="controls" class="small-12 columns">
      <div id="year-meta">
        <h2>
          <a class="prev" href="/<%= prev_year @year %>"><i class="icon-minus-sign"></i></a>
          <%= @year %>H
          <a class="next" href="/<%= next_year @year %>"><i class="icon-plus-sign"></i></a>
        </h2>
      </div>
      <div id="day-meta">
        <a class="today button small" href="/">Today</a>
      </div>
    </div>
  </div>

  <div id="month-meta" class="row">
    <div class="small-2 medium-3 large-4 columns prev"></div>
    <div class="small-8 medium-6 large-4 columns title"><h3></h3></div>
    <div class="small-2 medium-3 large-4 columns next"></div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <table id="days">
        <tbody>
          <tr>
            <td>Sun</td>
            <td>Mon</td>
            <td>Tue</td>
            <td>Wed</td>
            <td>Thu</td>
            <td>Fri</td>
            <td>Sat</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns slider">
      <% @calendar.each_month do |month| %>
      <table data-month="<%= month.name %>" data-year="<%= @year %>" class="month">
        <tbody>
          <% month.each_week do |week| %>
          <tr>
            <% week.each do |day| %>
            <td class="day<% if day.filler? %> filler<% end %>" data-doy="<%= day.doy %>">
              <span class="h"><%= raw day.hijri_day %></span>
              <span class="g"><%= raw day.gregorian_day %></span>
              <% if not day.filler? %>
              <div class="modal-data hide">
                <h3><%= raw day.hijri_date_string %></h3>
                <h4><%= raw day.gregorian_date_string %></h4>
                <ul class="miqaats">
                  <%= render(day.miqaats) || raw("<li>There are no miqaats on this day.</li>") %>
                </ul>
              </div>
              <% end %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</section>
