<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Mumineen Calendar</title>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "modernizr.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'header' %>
    <%= yield %>
    <%= render 'footer' %>

    <script>
      var today = {
        day: <%= @today.day %>,
        month: <%= @today.month %>,
        year: <%= @today.year %>
      };
    </script>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
