<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Mumineen Calendar</title>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "modernizr.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'header' %>
    <%= yield %>
    <%= render 'footer' %>
    <%= render 'modal' %>

    <script type="text/javascript">
      var applicationData = <%= raw js_variables(@year, @today) %>;
    </script>
    <%= javascript_include_tag "application" %>
    <%= render 'google_analytics' %>
  </body>
</html>
